html{
    background-color: #F2EFE9;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}



/* 
header{
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.625rem 1.25rem;
    z-index: 999;
}

header a{
    color: #34525D;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.875rem;
}

header a:target{
    color: #B6A395;
} */

.hero strong{
    color: #B6A395;
}

nav a{
    color: #34525D;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.875rem;
}


.hero {
    width: 890px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-bottom: 200px; /* Agregar margen inferior */

}

.logo {
    max-width: 100%;
    height: auto;
}

h1 {
    color: #34525D;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    line-height: 1.2;
    margin: 40px 0px;
}

.menu {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.menu a {
    margin-top: 30px; 
    color: #34525D;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5625rem;
    margin: 0px 70px;
}

.menu img.lv {
    margin: 0px 15px; 
}

.about-me strong{
    color: #D9AA8F;
}

.about-me {
    margin: 21rem auto 12rem; 
    width: 890px;
    position: relative;
}

.about-me h1{
    text-align: center;
    padding-top: 1rem;

}

.about-me-content{
    display: grid;
    grid-template-columns: 25% 5% 70%;
    gap: 20px;
}

.about-me-content h2{
    color: #D9AA8F;
}

.fotoPerfil{
    width: 220px;
    height: 240px;
    margin-top: 60px;
}

.lv2{
    margin: 40px 20px;


}
.about-text p{
    font-size: 0.875rem;
}

.lenguages h2{
    color: #34525D;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    line-height: 1.2;
    margin: 40px 0px;
}
.lenguage{
    width: 890px;
}
.lenguages img{
    padding-right: 20px;
}